.banner {
  background: url("../images/frame-header-image-easy.jpg") no-repeat;
  background-size: cover;

  &.p-lg-5 {
    @include media-breakpoint-up(md) {
      padding-top: 5rem !important;
      padding-bottom: 5rem !important;
    }
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 4.1rem;
    color: $white;
    letter-spacing: .02em;
  }

  h2 {
    color: $white;
  }
}
